<div *ngIf="user">
  <div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input class="form-control" type="text" [(ngModel)]="name" />
  </div>
  <div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input class="form-control" type="text" [(ngModel)]="username" />
  </div>
  <div class="mb-3">
    <label for="Password" class="form-label">Password</label>
    <input class="form-control" type="text" [(ngModel)]="password" />
  </div>
  <div class="mb-3">
    <a class="btn btn-primary" [href]="'/users'"> Back </a>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onClickUpdate($event)"
    >
      Update
    </button>
  </div>
</div>
