<div>
  <a type="button" class="btn btn-primary" href="todos/add">Add</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of todoList">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.title }}</td>
      <td
        [ngClass]="{
          complete: item.completed != null && !item.completed,
          incomplete: item.completed != null && item.completed
        }"
        [ngStyle]="{ color: item.completed ? 'yellow' : 'rgba(255,255,255,1)' }"
      >
        {{ item.completed ? "Completed" : "Incomplete" }}
      </td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onClickDetail(item)"
        >
          Detail
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onClickUpdate(item)"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onClickDelete(item)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
